@import "/designTokens/build/scss/variables";

.button {
  width: 200px;
  height: 200px;
  background-color: $button-background;
}

.main {
  // background-color: $theme-default-background;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: black;

  span {
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 63px;
  }

  button {
    width: 150px;
    padding: 16px 30px;
    background-color: $button-background;
    border: 0;
    color: white;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
}